@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 2px rgb(183, 157, 209);       */
    font-family: 'Ubuntu', sans-serif !important;
}

html,
body {
    width: 100vw;
    height: 100vh;
    /* background: #040d32;  */
    background-color: #fafafa;
}

.container-map {
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* background-image: url('./assets/bg-bigdate.png') ;  */
    /* border: #0052D4 50px solid;  */
}

.left-part {
    width: 60vw;
}

.nav-header {
    display: flex;
    height: 15vh;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.bar-map {
    width: 100px;
    height: 40px;
    font-size: x-large;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 28%);
}

a {
    text-decoration-line: none;
    color: #1770a4;
}

.map-reale {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-bg {
    width: 60vw;
    height: 70vh;
    margin-left: 3%;
    border: 2px solid #00a1ff;
}

.img-flag {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.flag {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.secondo-part {
    margin: 2%;
    width: 40vw;
    height: 90vh;
    border: 2px solid #00a1ff;
    border-radius: 15px;
    background: rgba(1, 19, 67, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-title {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

span {
    line-height: 100px;
    color: #fafafa;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
}

.li-button {
    width: 50px;
    height: 20px;
    font-size: large;
    border-radius: 15px;
    border: none;
}

li {
    padding: 4px;
    display: flex;
    flex-direction: row;
    color: rgb(3, 228, 3);
    width: 20vw;
    align-items: center;
    /* background: rgba(0, 9, 32, 1); */
    margin-top: 8px;
    border-radius: 4px;
    justify-content: space-between;
    /* padding: 1% 20%; */
    /* margin: auto; */
    border-bottom: 2px solid #1770a4;
}