@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Light';
    letter-spacing: .05em;
    box-sizing: border-box;
    /* border: solid 2px rebeccapurple; */
    font-family: 'Ubuntu', sans-serif !important;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container-index {
    height: 100vh;
  
  
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    /* border: #0052D4 50px solid; */
    
}

.nav-bar1 {
    display: flex;
    width: 100vw;
    height: 20vh;
    font-size: xx-large;
    align-items: center;
    justify-content:center;
    gap: 2%;
}
.bar1{
    width: 150px;
    font-size: x-large;
    border-radius: 15px;
}
.img-mask{
    background-image: url('./assets/F2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    /* border-radius: 15px;   */
}
.home-letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     height: 60vh;
    width: 100vw;
    background-color: rgba(100, 100, 100, .6);
    box-shadow: 0 0 0 1px hsla(240, 0%, 100%, .3) inset, 0 .5em 1em rgba(0, 0, 0, 0.6);
    /* border-radius: 15px; */
}

.h1-index {
    color: #fafafa;
    font-size: 6vw;
    font-family: 'Ubuntu', sans-serif;
}

.h2-index {
    color: #fafafa;
    font-size: 2vw;
    font-family: 'Ubuntu', sans-serif;
}

p {
    color: #fafafa;
    padding: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    font-weight: 700;
    text-align: center;
}

.home-img-container {
    display: flex;
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
}

.home-img {
    width: 10%;
    transform: scale(0.5);
}

/* ----------------Login------------------------------------------------- */

.container {
    height: 100vh;
    background-image: url('./assets/F1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* border: #0052D4 50px solid; */
}

.nav-bar {
    width: 100vw;
    height: 20vh;
    display: flex;
    font-size: xx-large;
    align-items: center;
    justify-content: space-around;
}

.login-wrapper {
    background-color: #fff;
    width: 20vw;
    height: 60vh;
    padding: 0 4%;
    position: relative;
    left: 50%;
    border-radius: 15px;
    top: 35%;
    transform: translate(-50%, -50%);
}

.login-wrapper .header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}

.login-wrapper .form-wrapper .input-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    border-bottom: 2px solid rgb(128, 125, 125);
    font-size: 15px;
    outline: none;
}

.login-wrapper>* {
    text-transform: uppercase;
}

.login-wrapper .form-wrapper .btn {
    text-align: center;
    padding: 5px;
    margin-top: 40px;
    background-image: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    border-radius: 15px;
    color: white;
}

a {
    color: #557e55;
    text-decoration: none;
}

/* ----------------------------View---------------------------------------- */

.btn2 {
    width: 12vw;
    padding: 5px;
    margin-top: 10%;
    background-image: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    border-radius: 15px;
    font-size: 15px;
    color: white;
    border: none;
}

/* --------------Register------------------------------------------------------------- */

.container-register {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/G3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: #0052D4 50px solid; */
}

.register-header {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.nav-bar3 {
    font-size: x-large;
    display: flex;
    width: 50VW;
    align-items: center;
    justify-content: space-around;
}

.img-flag {
    width: 50VW;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    gap: 50px;
}

.letter-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    padding: 5%;

}

.h1-register {}

.h2-register {}

.register-wrapper {
    background-color:white;
    box-shadow: 0 0 0 1px hsla(240, 0%, 100%, .3) inset, 0 .5em 1em rgba(0, 0, 0, 0.6);
    width: 20vw;
    height: 60vh;
    padding: 4%;
    position: absolute;
    left: 50%;
    top: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}


.input-item-r {
    font-size: 15px;
    border: none;
    padding: 6px;
    border-bottom: 2px solid rgb(128, 125, 125);
    
}

#interaction-select{
    font-size: 15px;
}

.btn3 {
    margin: 10%;
    padding: 3%;
    background-image: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    border-radius: 15px;
    color: white;
    font-size: 15px;
    border: none;
}


@media screen and (max-width: 420px) {
    .login-wrapper{
       width: 80vw;
     }

     /* ----------------------------View---------------------------------------- */

    .btn2 {
        width: 70vw;
    }
     

   /* --------------Register------------------------------------------------------------- */ 
  
 
   .register-header {
        display: flex;
        flex-direction: column;
    }

    .nav-bar3 {
        width: 100vw;
        height: 10vh;


    }

    .img-flag {
        width: 100vw;
        justify-content: space-around;
        gap: none;
    }

    .flag {
        width: 30vw;
    }

    .form-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .letter-left{
        width: 100vw;
        height: 30vh;
    }

    .register-wrapper{
      position:static;
       width: 60vw;
       height: 50vh;

    }
}